<hr style="border:5px solid #108999"> </hr>

# pandas Basics <hr style="border:4.5px solid #108999"> </hr>

## Installing and Running pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.3.4'

In [4]:
pip install pandas --upgrade
pip install pandas == 1.0.4

SyntaxError: invalid syntax (Temp/ipykernel_4352/191969065.py, line 1)

## Introduction to pandas Series

In [ ]:
import pandas as pd
#series object in single column data,or a set of value that coresponds to single variable

In [5]:
products = ['A', 'B', 'C', 'D']
products
#list

['A', 'B', 'C', 'D']

In [6]:
type(products)

list

In [7]:
product_categories = pd.Series(products)
#return this into series,nd store in new variable

In [9]:
product_categories
#organize into colmn
# index start from zero

0    A
1    B
2    C
3    D
dtype: object

In [11]:
type(product_categories)
# object=the defaut data type assigned to data which is not numeric, assigned .object

pandas.core.series.Series

In [13]:
type(pd.Series(products))
# for more information enter tab+enter
# above nd this are same

pandas.core.series.Series

In [14]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars
#store directly into argument

0    40
1    45
2    50
3    60
dtype: int64

In [15]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    60
dtype: int64

In [18]:
import numpy as np

In [20]:
array_a = np.array([10, 20, 30, 40, 50])
array_a
#can create series numpy array
# pandas series object corresponds to one d numpy array

array([10, 20, 30, 40, 50])

In [22]:
type(array_a)

numpy.ndarray

In [23]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [24]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [25]:
type(series_a)
#configure newly get op
#pandas series object powerful version of pythone list or enhanced version of numpy array.
# if have series then work with pandas only

pandas.core.series.Series

## Working with Attributes in Python

In [26]:
import pandas as pd

In [27]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a
# series object store its value in a sequence order and have explicit index
# to keep consistency store single type data only
#almost everything in puython is object
# python object contain =data ,meta data ,related function
#attribute= a variable provide meatadata about an object
#methord=function that can assosited with object
# python object collection of attribute nd methord
# here we focus python pandas series attribute

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [28]:
series_a.dtype
# get data type, dont need ()

dtype('int64')

In [29]:
series_a.size
# homany element ,obtain information from all attribute related to panda series class
#o= its default type non numeric data
#attribute give information about thr object using return

5

In [30]:
product_categories = pd.Series(['A', 'B', 'C', 'D'])
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [31]:
product_categories.dtype

dtype('O')

In [32]:
product_categories.size

4

In [33]:
type(product_categories.size)

int

In [ ]:
product_categories.name
#using name attribute (no value), the name we can use to refer that object in code

In [34]:
print(product_categories.name)

None

In [35]:
product_categories.name = "Product Categories"
product_categories
# object name is one want to see whenever disply its content

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [36]:
product_categories.name
# follow this step to give name
#attribute relate to a certain python object allow to extract information about it but they not meant alter or modify the content
#attribute provide meta data and methord provide functionality , nd behavior of object
#attribue only provide information of given data, passive
#methord = active, provide both function nd methord when provide with some initial data ,both tool can makwe specific operation with it nd return op

'Product Categories'

In [37]:
print(product_categories.name)

Product Categories

## Using an Index in pandas

In [39]:
import pandas as pd
#indexing on other data structure can applicable learning from pandas df objects

In [40]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C':15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [41]:
type(prices_per_category)

dict

In [42]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category
#making series

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [43]:
type(prices_per_category)
#confirm

pandas.core.series.Series

In [44]:
prices_per_category.index
#series index in fact a seperate object

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [45]:
type(prices_per_category.index)
#index refer to a position within sequence
#can acces throught index,
#index can consider seprt object ,so speed up the compitation

pandas.core.indexes.base.Index

## Label-based vs Position-based Indexing

In [46]:
import pandas as pd
#implicit and explicit darta structure- indices

In [47]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [48]:
series_a.index
#range index= number of index same as generated range index,position based/zero based indexing

RangeIndex(start=0, stop=5, step=1)

In [49]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [50]:
list(series_a.index)
# to prove index start from zero

[0, 1, 2, 3, 4]

In [51]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})
prices_per_category
#structured indexing, non numeric value
#name that will logically corresponds to data vlue contain in one series then use non numeric indecis such name called label,so called label abse indexing

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [53]:
prices_per_category.index
#label base indexing,using label to explicitly certain part of data
#non numeric indexing
#explicitly specify the index(k-v), if not specify the panda will attach zero base indexingto thier object,by refering positin

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [54]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## More on Working with Indices in Python

In [63]:
import pandas as pd

In [64]:
series_a = pd.Series([10, 20, 30, 40, 50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})
#create pandas objects

In [57]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [58]:
series_a[0]

10

In [59]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [60]:
prices_per_category['Product A']

22250

In [61]:
# prices_per_category[0]
# prices_per_category[1]
prices_per_category[2]
# python create automatic indecies

12500

In [62]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
series_b
# not interpreted as int posotin
#direct kodukkam,explicit index kodukumbol puyhon wont create automativ implcit index

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [65]:
series_b[0]

KeyError: 0

In [66]:
series_b[1]

10

In [68]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ["1", "2", "3", "4", "5"])
series_c
# index position implicit aayit create cheyyum automatically

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [69]:
series_c[1]

20

In [70]:
series_c["1"]

10

In [71]:
series_c[0]

10

In [72]:
prices_per_category
#index label= non numeric index
#position based indexing= zero indexing
#

Product A    22250
Product B    16600
Product C    12500
dtype: int64

## Using Methods in Python - Part I

In [ ]:
import pandas as pd
#why need both function nd methord
#both are similaar they make som operation on data nd return specifc op
#function=independent entity, not assosiated with object by construction
#methord=generally apply methord apply object of calss, can acces object data, can manipulate objects state, diifernt libraries contain their own sets of methoerds
# have certain restriction , only can apply panda series, not can apply other object like panda dateframe
#learning here pandas methord

In [74]:

start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})
#create series object

In [76]:
start_date_deposits
# can use sveral methord

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [79]:
start_date_deposits.sum
#not get return value add()

<bound method NDFrame._add_numeric_operations.<locals>.sum of 7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [80]:
start_date_deposits.sum()

29500

In [81]:
start_date_deposits.min()
#vertcal value

1000

In [83]:
start_date_deposits.max()
#information from dataset not about datset

4000

In [85]:
start_date_deposits.idxmax()
#return the index label corresponding to highrst value in a series

'9/3/2015'

In [86]:
start_date_deposits.idxmin()

'12/8/2012'

## Using Methods in Python - Part II

In [87]:
import pandas as pd
#whatb kind of methords exist in pandas nd why
#pandas is a library which steps on the computational abilities of numpy
# why same methord exist both pandas nd numpy
#if have numb only then work with numpy, if donknow the value is numb or string then store in pandas, but panda wont give certain maths operation

In [88]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [89]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [90]:
start_date_deposits.head()
# non maths operation
#first five rows, provide glims of structure of data set

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [91]:
start_date_deposits.tail()
# last five rows

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters vs Arguments

In [92]:
import pandas as pd
# how methord work?
# use methord on object to get certain object, other feature is can also modify their performance
# see the parameter assosiate with methord and pass argument

In [93]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [94]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [95]:
start_date_deposits.head(3)
#specfic op

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [96]:
start_date_deposits.head(10)
# parameter pass argument and modify the working of methord

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [97]:
start_date_deposits.head()
#default is 5

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [98]:
start_date_deposits.head(n=10)
#a parameter of a function alwys have name here its n
#use ful when have more parameter can use explicitly

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

## The pandas Documentation

In [99]:
import pandas as pd
#more about panda methord using doc
# pandas .pydata.org,or pandas documentation-userquide-have topic wise
#can search directly pandas.series.sum
#get all detail
#can download

In [100]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [101]:
start_date_deposits.sum()

29500

In [102]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [103]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [104]:
start_date_deposits.sum()
#attribut dont have (), pd.series.size
#methord have (), pd.series.sum()
#df= pd.pf.head()
#put cursor bw () nd pres shift+tab many time. will get about methord

29500

## Introduction to pandas DataFrames

In [1]:
import pandas as pd
#pandas documentation is important to leran how to use become indep lerner
#learn pandas frame data object
#use df in data structure pandas series
# panda series=single colmn data,single variable,single type,can preserve data consistency,one dimention with single colmn and multiplr row
#df=multi colmn data,each colmn represt diff variable, every colmn contain data its own type,information can hetrogenous,can preserve data consitency, keep same type within same colmn
#df in combination of series, so charactr of deries also applicable to seperate colmn of df
#df is 2-d with several row nd colmn,tabular form,close to 2-d data strucyure as spreadsheet
# df=2-d data structure- two dimntional numpy array- 2-d marix, multiple observation given variable , contain information single data point by relevent observation of certain variable
# in series use row index to reference point in series
# in df refrence point of varibale need x nd y reference
# series object poerful  ersion of python list, also include som python dictionary feuture, dosnt take intx,float and athoer vues,have advanced indexing and key indexing, faster thean list
# df is enhanced python dictionary,can make df, dont ned assosiate sigle vale to dict key,can provide whole value conatain entire colunm, can apply dict character here

## Creating DataFrames from Scratch

<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [106]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data) # pass argument
# dict contain series of object
df
# in work have redly dataset and clean , preprocess and analysis
# dont provide explicit indexing,care about number of dimensions

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [107]:
data = {'ProductName':['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df
#diff length

ValueError: All arrays must be of the same length

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [108]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df
#pass index argument with dict list

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [109]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df
#store the index in variable

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [111]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df
# each dictionary is one row nd list of dict

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [112]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df
#pass python as value

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [115]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df
#suppose to provide all values

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [117]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])
#creating dictionry of panda series

In [118]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [120]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df
# with indices

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [121]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df
# with key indecies ,can change the orderindex in one of the series
#key =colmn name, series=data
#add same number of indecies upon creation of evry series that is set to represent coumn in new df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [122]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df
#number of element in inner list must same to avoid missing valu

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [123]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [124]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [126]:
df.columns = ['ProductName', 'ProductPrice']
df
# provide colmn attribute, index attribute

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [128]:
df.index = ['A', 'B', 'C']
df
# provide index attribute

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [129]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [130]:
df.shape
#get number of rows nd colmn
#tthere are other plenty of way create df

(3, 2)

In [ ]:
# use pandas doc-user quide-datastrucure
#pd.dataframe() and pd.series() are constrector methord

# data cleaning and preprocessing

In [131]:
#data preprocessing= recategarization of data,inputting missing value,shuffling
#statstic , mathematics,predictive modeling,viz, analytical inference(domain knowlegde nd analtical flow guidance, prioratize the quality)
#pandas=clean data
#numpy= preprocessing
#data preperation= gathering,cleaning,preprocessing,
#data preperation in gathering=data wrangling nd munging

# pandas Series: .unique() & .nunique()

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()
# import location data using read csv nd squeez it nd make a copy

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [3]:
type(location_data)
#confirm data is series object

pandas.core.series.Series

In [5]:
location_data.describe()
# get some statstical 
# string location count 31 times, top mean most occuring value
# can see its not big volume, can split the value
# provide nice overview

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [6]:
len(location_data)
#series object so number of values equel to count

1043

In [7]:
location_data.nunique()

296

In [8]:
type(location_data.nunique())

int

In [9]:
location_data.unique()
#can see few methord similar in functionalty
# give unique value, this methord deliver the values they have appeared in the data set

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

In [10]:
type(location_data.unique())

numpy.ndarray

In [11]:
location_data.unique
#organized op
#give idea of hoe data stored

<bound method Series.unique of 0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object>

In [12]:
type(location_data.unique)
#uniq is the name of methord and type also methord

method

# pandas Series: Converting Series into Arrays (.values, .array, .to_numpy())

In [13]:
#heterogenety in panda series object nd numpy aray object

In [14]:
import pandas as pd
import numpy as np

In [15]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':15600})
prices_per_category
# prices object contain series of value

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [16]:
prices_per_category.values
# values attribute
# dont recomend value atribute instead use array or to-numpy()attribute

array([22250, 16600, 15600], dtype=int64)

In [17]:
type(prices_per_category.values)

numpy.ndarray

In [18]:
prices_per_category.array
#same value in diffrent format
# pandas.arrybuilt in top of the numpy array, have the extends capabilitis of numpy array
#used to work exclusivly centerd around the functionalty of pandas library

<PandasArray>
[22250, 16600, 15600]
Length: 3, dtype: int64

In [19]:
type(prices_per_category.array)

pandas.core.arrays.numpy_.PandasArray

In [20]:
prices_per_category.to_numpy()
# relation bw direct values series object nd numpy structure, convert series to numpy array
#allows further preprocessing nd math operation

array([22250, 16600, 15600], dtype=int64)

In [21]:
type(prices_per_category.to_numpy())

numpy.ndarray

In [22]:
test_array = prices_per_category[['Product A', 'Product B']].to_numpy(dtype='float')
test_array
#using list we can designated first value of series into diffrent variable, also covert into decimal

array([22250., 16600.])

In [23]:
type(test_array[0])

numpy.float64

In [25]:
prices_per_category.values[0]
#values,array,to-numpy all convert series into array(numpy)

22250

In [26]:
type(prices_per_category.values[0])

numpy.int64

In [27]:
prices_per_category.array[0]

22250

In [28]:
type(prices_per_category.array[0])

numpy.int64

In [29]:
prices_per_category.to_numpy()[0]

22250

In [30]:
type(prices_per_category.to_numpy()[0])

numpy.int64

In [31]:
#.array convert series into pandas array an extention array
#.to-numpy array convert pure numpy array structure

# pandas Series: .sort_values()

In [32]:
import pandas as pd

In [33]:
numbers = pd.Series([15, 1000, 23, 45, 444])
numbers

0      15
1    1000
2      23
3      45
4     444
dtype: int64

In [34]:
numbers.sort_values()
#sometime need to sort based on index or values of one or few colmn
#panda series=single colmn

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [35]:
numbers.sort_values(ascending=True)

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [36]:
numbers.sort_values(ascending=False)

1    1000
4     444
3      45
2      23
0      15
dtype: int64

In [37]:
data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()
#squeezing to get directly data
#numb stored in diffrent location

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [38]:
location_data.sort_values()
#treated as label not integer
#arrange the value of the object been applied to

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [39]:
location_data.sort_values(ascending=True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [40]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

# Attribute and Method Chaining

In [41]:
import pandas as pd
#chaining aply many methord nd function to grt desired manipulated data

In [42]:
data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [43]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [44]:
location_data.name
#shows the colmn name

'Location'

In [45]:
location_data.index.name
#attribute chaining allows to sequentialy refer tothe values obtsined diffrent attribute
# index and name
#the range index object assosiated with series has no name
#refering name heare is diffrent name of thr series

In [46]:
location_data.index.name = 'Index'
#refer the name

In [47]:
location_data

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [48]:
location_data.index.name
# one more check

'Index'

In [49]:
location_data.sort_values()
# give meta data in sorted way

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [50]:
location_data.sort_values().head()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
Name: Location, dtype: object

In [51]:
location_data.sort_values().tail()

Index
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, dtype: object

In [52]:
location_data.index
#as oop python allows logically  focus on the object as well as what you want to obtain from
# can give attribue then chain a methord

RangeIndex(start=0, stop=1043, step=1, name='Index')

In [53]:
type(location_data.index)

pandas.core.indexes.range.RangeIndex

In [54]:
location_data.index.to_numpy()
# convert range index to numpy array

array([   0,    1,    2, ..., 1040, 1041, 1042], dtype=int64)

In [ ]:
#methord chaining
# organize and applies several methord calls o aobject in a given order
#each cal performs its action and returns an intermediate op
#every next methord from yhe chain respect the value return by tthe previos one
# not store intermediate op or intermediate result, intermediatly return value

# pandas Series: .sort_index()

In [55]:
import pandas as pd
# learn chain techniqs and assiment stament using sort value nd sort index

In [56]:
data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [57]:
location_data.sort_values(ascending=False)
#sort location data in descending order

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [58]:
location_data_sv = location_data.sort_values(ascending=False)
location_data_sv.head()
#sv= sorted value

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [59]:
location_data_sv.index
# index value of location

Int64Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
            ...
             904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
           dtype='int64', length=1043)

In [60]:
location_data_sv.index.sort_values()
#sorte value dont overwrite, it return new value
#index.sort value is usful only need to obtain the sorted index structure as aseperate entity for some reason

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042],
           dtype='int64', length=1043)

In [61]:
location_data_sv.head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [62]:
location_data_sv.index = location_data_sv.index.sort_values()

In [63]:
location_data_sv
# here only location value arrang in descending order, index value stored in seperate enity

0       Location 99
1       Location 98
2       Location 97
3       Location 97
4       Location 97
           ...
1038    Location 10
1039    Location 10
1040     Location 1
1041     Location 1
1042     Location 1
Name: Location, Length: 1043, dtype: object

In [67]:
location_data.sort_values(ascending=False)
# ith mukalil define hythadan. iivide both index nd location value cahnged

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [65]:
location_data_sv = location_data.sort_values(ascending=False)
location_data_sv.head()
#re creat the old data set

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [66]:
location_data_sv.sort_index()
#instead of index nd sort value methord can directly use sort index. sort the value according to index.complimentary of sort-valur
#sort - index create temporary copy of object, not affect og filr

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [68]:
location_data_sv

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [69]:
location_data_sv = location_data_sv.sort_index(ascending=True)
location_data_sv
#show not affect og dataset

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

# A Revision to pandas DataFrames

In [70]:
import pandas as pd
import numpy as np
#data strucure in df implies 2-d array

In [71]:
array_a = np.array([[3, 2, 1], [6, 3, 2]])
array_a
#df=data table, most o,portant structure in the library
#df=tabular structure that contain the multiplr observation of given variable,2-d
#df=hetrogenious bcz each series in df have its own data type

array([[3, 2, 1],
       [6, 3, 2]])

In [72]:
pd.DataFrame(array_a)
#creat df

   0  1  2
0  3  2  1
1  6  3  2

In [73]:
type(pd.DataFrame(array_a))
# confirm

pandas.core.frame.DataFrame

In [74]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'])
df
#explicitly give naming nd indexing

   Column 1  Column 2  Column 3
0         3         2         1
1         6         3         2

In [75]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [76]:
# Can we change to "StringID"?
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()
# importing external data set into numpy df

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [77]:
type(lending_co_data)
#confirm
#well organized data
#have nan value

pandas.core.frame.DataFrame

# Common Attributes for Working with DataFrames

In [79]:
# Can we change to "StringID"? work on data cleaning
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [80]:
lending_co_data.index
#index of element start 1, int 64 data type

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [81]:
type(lending_co_data.index)

pandas.core.indexes.numeric.Int64Index

In [82]:
lending_co_data.columns
# all colnm name in object, its usful when reorganizing column,colmn name is index when looking horizontally its index type, can refr to the data value

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [83]:
type(lending_co_data.columns)

pandas.core.indexes.base.Index

In [84]:
lending_co_data.axes

[Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
             ...
             1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
            dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [85]:
lending_co_data.dtypes
#colmn name nd type
#can keep data consitency

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [86]:
lending_co_data.values
#compare with two attribute
#.values give numpy array representation og value

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [95]:
type(lending_co_data.values)

numpy.ndarray

In [96]:
lending_co_data.to_numpy()
#make conection bew df nd numpy 2d array

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [97]:
type(lending_co_data.to_numpy())

numpy.ndarray

In [98]:
lending_co_data.shape
#tuple so its 2d, its df

(1043, 14)

In [91]:
len(lending_co_data.columns)
#number of colmn

14

In [92]:
location_data = pd.read_csv('Lending-company.csv', usecols = ['Location'], squeeze = True)
location_data

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [93]:
type(location_data)

pandas.core.series.Series

In [94]:
location_data.shape

(1043,)

# Data Selection in pandas DataFrames

In [101]:
import pandas as pd
#subset selection or dataslection in df is extracting element ,rows ,colmn, or subset from an object
# data selection allows to work on portion of data set
#do most in alaysis , extract part of data
# can do by indexing
# use one or both type indexing;colnm and row indexing
#colomn cpecifier =colnm index= a value =column indexing
#row cpecifier =row index= a value =row indexing
# acn extract specific entry or subset

In [102]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [103]:
lending_co_data.Product
#attribute size acces, perticular colmn

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [104]:
lending_co_data.Location

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [105]:
lending_co_data['Product']
#indexing, pass argument as string

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [106]:
lending_co_data['Location']
# work even if name contain white soace caharcter

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [109]:
lending_co_data.Product price
column name contain white space character cant as vaid identifier in python

SyntaxError: invalid syntax (Temp/ipykernel_12056/3051863787.py, line 1)

In [107]:
lending_co_data['location']
# case sensitive

KeyError: 'location'

In [110]:
type(lending_co_data['Location'])
#get series of object, have ccharacter of panda series

pandas.core.series.Series

In [111]:
lending_co_data[['Location']]
#get data frame , use quots in nested list and single elemnt

                Location
StringID
LoanID_1      Location 3
LoanID_2      Location 6
LoanID_3      Location 8
LoanID_4     Location 26
LoanID_5     Location 34
...                  ...
LoanID_1039  Location 73
LoanID_1040  Location 82
LoanID_1041  Location 11
LoanID_1042  Location 26
LoanID_1043  Location 94

[1043 rows x 1 columns]

In [112]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [113]:
lending_co_data[['Location', 'Product']].head()
#can extract several data

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

In [114]:
prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head() #
#store in seprate variable

             Location    Product
StringID
LoanID_1   Location 3  Product B
LoanID_2   Location 6  Product D
LoanID_3   Location 8  Product B
LoanID_4  Location 26  Product A
LoanID_5  Location 34  Product B

In [115]:
lending_co_data['Product', 'Location']
#single braket dont allow multiple column

KeyError: ('Product', 'Location')

In [116]:
#working with list,series,df,arrays,...alwys need to access the part of available data, use similar syntax that may behave diffrently

# Data Selection - Indexing Data with .iloc[]

In [121]:
import pandas as pd
#attribute indexer or acceser
# purly integer location based indexing for selection by position
#i=int,loc=location
#i loc accesor= use iloc acces the part data
#same rule for, python list,pandas series by index position, pandas series and df with iloc
# iloc methord strict implicit ,integer location,position based indexing

In [122]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [123]:
lending_co_data[1]
#classical indexing using integer

KeyError: 1

In [124]:
lending_co_data[0,1]

KeyError: (0, 1)

In [125]:
lending_co_data['Product']
#indexing by label

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [126]:
lending_co_data.iloc[1]
#indexing by integer
# 1= row soecifier or row indexer

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [127]:
lending_co_data.iloc[1, 3]
#location od desired subset , second row nd colum 4, 0 indexing

'Location 6'

In [128]:
lending_co_data.iloc[1,:]
#get entire location column

LoanID                     2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: LoanID_2, dtype: object

In [129]:
lending_co_data.iloc[:, 3]
#entire row

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [130]:
type(lending_co_data.iloc[1, 3])
#sigle data

str

In [131]:
type(lending_co_data.iloc[1, :])

pandas.core.series.Series

In [132]:
type(lending_co_data.iloc[:, 3])

pandas.core.series.Series

In [133]:
lending_co_data.iloc[[1, 3], :]
#entire second 4th rwo

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [134]:
lending_co_data.iloc[:, [3, 1]]
#entire 4th and second column

                Location    Product
StringID
LoanID_1      Location 3  Product B
LoanID_2      Location 6  Product D
LoanID_3      Location 8  Product B
LoanID_4     Location 26  Product A
LoanID_5     Location 34  Product B
...                  ...        ...
LoanID_1039  Location 73  Product B
LoanID_1040  Location 82  Product A
LoanID_1041  Location 11  Product A
LoanID_1042  Location 26  Product B
LoanID_1043  Location 94  Product A

[1043 rows x 2 columns]

# Data Selection - Indexing Data with .loc[]

In [135]:
import pandas as pd
#accesing data 
#subselect the information from df by refering its index label

In [136]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LoanID_1039,1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
LoanID_1040,1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
LoanID_1041,1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
LoanID_1042,1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
LoanID_1043,1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [137]:
lending_co_data.loc['LoanID_3']
#get 3rd row, like loc indexer

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [138]:
lending_co_data.loc['LoanID_3', :]
#both rownd column
#loc[] has designed to take advantage of the explicit index and column label of data table

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [139]:
lending_co_data.loc['LoanID_3', 'Region']
#specific value

'Region 3'

In [140]:
lending_co_data['Location']
#use label indexing can get enire column

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [141]:
lending_co_data.loc['Location']
#think its row, there is no such row

KeyError: 'Location'

In [142]:
lending_co_data.loc[:, 'Location']
#use this methord to extract entire column

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [143]:
lending_co_data.loc[:, 'Locations']
#locations
#important locate roe nd column label

KeyError: 'Locations'

# A Few Comments on Using .loc[] and .iloc[]

In [144]:
import pandas as pd

In [145]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')#initial index colun)
lending_co_data = data.copy()
lending_co_data

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [146]:
lending_co_data.shape

(1043, 14)

In [147]:
lending_co_data.iloc[1043, :]
#have 1042 row

IndexError: single positional indexer is out-of-bounds

In [148]:
lending_co_data.iloc[10000, :]

IndexError: single positional indexer is out-of-bounds

In [149]:
lending_co_data.iloc[:, 14]
#out of index

IndexError: single positional indexer is out-of-bounds

In [150]:
lending_co_data.iloc[:, 13]
#last column

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [151]:
lending_co_data.iloc[:, -1]
#last colmn

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [152]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [153]:
# incorrect (single indexer required)
lending_co_data['TotalPrice'].iloc[0, :]
#too many indexer
#can provide loc nd iloc on series then use only rwo indexer,dont provide column indexer

IndexingError: Too many indexers

In [154]:
lending_co_data['TotalPrice'].iloc[0]
#remove column indexer

17600.0

In [155]:
# avoid for index columns composed of labels/integers
lending_co_data['TotalPrice'][0]
#direct indexing have problem, zero unclear indication,set index column explicitly python treat as label

KeyError: 0

In [156]:
# AVOID
lending_co_data['TotalPrice'][1]
#put exact loan id

17600.0

In [157]:
lending_co_data['TotalPrice'].loc[1]
using i loc 
#i loc nd loc work predictively and strictly used for integer or label location respectively, implicit position nd explicit label
#dont use [][],[]+chained indexing

17600.0

In [158]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()
#use string in intial column, index column

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [159]:
lending_co_data['TotalPrice'].iloc[0]
#when have string as label ,indices contain non consicutive number use iloc for position based and loc for location based,avoid consicutive number as index label

17600.0

In [160]:
lending_co_data['TotalPrice'].loc['LoanID_1']

17600.0

In [175]:
# AVOID
lending_co_data['TotalPrice'][0]
#chaining indexing confusing way it operate

17600.0

In [162]:
# AVOID
lending_co_data['TotalPrice'][1]

nan

In [163]:
# AVOID
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [164]:
# AVOID
lending_co_data.iloc[0][5]

17600.0

In [165]:
lending_co_data.iloc[0, 5]
#can use iloc nd loc together

17600.0

In [166]:
# AVOID
lending_co_data.iloc[[0, 5]]
#use [[]] get df not just sigle valu

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [167]:
lending_co_data.iloc[[0, 5], :]
#put , nd space befor closing braket

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [168]:
# AVOID
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [169]:
lending_co_data.loc['LoanID_1', 'TotalPrice']

17600.0

In [170]:
# AVOID
lending_co_data.loc[['LoanID_1', 'LoanID_6']]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [171]:
lending_co_data.loc[['LoanID_1', 'LoanID_6'], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [172]:
# AVOID
lending_co_data.TotalPrice['LoanID_1']

17600.0

In [173]:
# AVOID
lending_co_data['TotalPrice'].iloc[[0, 5]]
#can refer to the position certain values in df column then use iloc nd loc together, avoid combining indexing operator nd iloc

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [174]:
lending_co_data.loc[:, 'TotalPrice'].iloc[[0,5]]
#use loc for column and iloc for row , then use together

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [ ]:
#use .loc nd iloc to obtain desired information more quikly